
<ul class="fr-btns-group fr-btns-group--inline-md background">
  <li>
    <button class="fr-btn">
      <a routerLink="" routerLinkActive="active">Actus</a>
    </button>
  </li>
  <li>
    <button class="fr-btn fr-btn--secondary">
      <a routerLink="outils" routerLinkActive="active">Outils</a>
    </button>
  </li>
  <li>
    <button class="fr-btn fr-btn--secondary">
      <a routerLink="plus" routerLinkActive="active">+</a>
    </button>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
