<div class="container">
  <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link" id="tile-6661">
    <div class="fr-tile__body">
      <div class="fr-tile__content">
        <h3 class="fr-tile__title">
          <a href="#">Intitulé de la tuile</a>
        </h3>
        <p class="fr-tile__detail">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum </p>
        <div class="fr-tile__start">
          <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">label badge</p>
        </div>
      </div>
    </div>
  </div>
</div>
