<div class="fr-mt-3v">
  <h6>Actualités</h6>
  <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--sm">
    <li>
      <button class="fr-btn">
        <a routerLink="general" routerLinkActive="active">Générale</a>
      </button>
    </li>
    <li>
      <button class="fr-btn fr-btn--secondary">
        <a routerLink="ressources-humaines" routerLinkActive="active">Ressources Humaines</a>
      </button>
    </li>
    <li>
      <button class="fr-btn fr-btn--secondary">
        <a routerLink="operations-emploi" routerLinkActive="active">Opérations Emploi</a>
      </button>
    </li>
    <li>
      <button class="fr-btn fr-btn--secondary">
        <a routerLink="soutien-finances" routerLinkActive="active">Soutien Finances</a>
      </button>
    </li>
  </ul>

    <router-outlet></router-outlet>


</div>
